@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-900 text-gray-200 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full hover:bg-neon-blue/50;
}